# Database vars
DB_NAME=postgrade
DB_USER=postgrade_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5433

# DEBUG mode for local development, KEEP TRUE!!!
DEBUG=True

# SECRET KEY, NEVER PUSH OR EXPOSE
SECRET_KEY=your-django-secret-key