# Secrets
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3

# IDE
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Django uploaded media
media/